{% extends "astridWeatherBundle::layout.html.twig" %}

{% block body %}

<h1> My Cities </h1>

<ul>

	{% for city in cities %}
		<li> {{ city.name }} <br><a href="{{ path('astrid_weather_idweather', {'id': city.id}) }} " class="btn btn-sm btn-info" >Today's weather</a> <a href="{{ path('astrid_weather_delete', {'id': city.id}) }}" class="btn btn-sm btn-danger" onclick="confirmDelete()" >Delete this city</a> </li>
	{% endfor %}

</ul>

<p> Your city is not in this list? Either enter a new city name or get the current weather for where you are. </p>
<a href="{{ path('astrid_weather_newcity') }}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Enter a new city</a> <a id="geoloc" href="{{ path('astrid_weather_geoloc', {'lat': 'latitude', 'long': 'longitude'}) }}" class="btn btn-success btn-sm" ><span class="glyphicon glyphicon-screenshot" ></span> Find your local weather</a> 



<script>

function confirmDelete() {
    confirm("Are you sure you want to delete this city?");
}

geo = document.getElementById('geoloc');
href = geo.getAttribute('href');

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
        	href = href.replace('latitude', position.coords.latitude);
        	href = href.replace('longitude', position.coords.longitude);
            geo.setAttribute('href', href);
        });
    } else {
        alert('your geolocalisation is unavailable..');
    }
}

window.onload = getLocation();




</script>

{% endblock %}